/* *{
text-align: justify;
background-image: url("https://media.tenor.com/images/e31a2e91985a3742791dd1081bacbe11/tenor.gif");
background-size: cover; 
background-repeat: no-repeat; 
background-position: center center; 
background-attachment: fixed; 
} */
